<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style_s.css">
</head>
<body>
    <header>
        <h1>GRAPHIC ERA SCHOOL</h1>
    </header>
    <div class="outer_container"></div>
        <h2>RESULT SMS PORTAL</h2>

        <h3>STUDENT MARKSHEET INFORMATION</h3>
    <!--now under this ill ejs loops and shit to print all the student's record that has been filled-->
</body>
</html>